body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: #1eaeff;
    color: white;
    padding: 10px 30px;      /* kecil */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;             /* biar header di atas gambar */
}

header * {
    background: transparent !important;
}

/* Logo + Judul */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    height: 45px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

/* NAV MENU */
nav ul {
    list-style: none;       /* hilangkan bullet */
    display: flex;          /* bikin horizontal */
    gap: 25px;              /* jarak antar menu */
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    opacity: 0.8;
}

.logo {
width: 100%;
    height: 450px;
    object-fit: cover;
}

/* HERO SECTION */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

.hero {
    position: relative;
    width: 100%;
    height: 650px;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin: 0;
}


/* GENERAL SECTION */
section {
    padding: 40px 60px;
}

h2 {
    color: #1eaeff;
}

.center {
    text-align: center;
}

/* GRID + CARD */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}

.card {
    width: 100%;
    height: 180px;
    border-radius: 20px;
    border: 3px solid #1eaeff;
    background: white;
}

/* BLUE BACKGROUND SECTIONS */
.blue-section {
    background: #a9e2ff;
    padding: 100px;
}

/* FOOTER */
footer {
    background: #1eaeff;
    color: white;
    text-align: center;
    padding: 20px;
}
