/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #dadcdd;
    color: #1a1010;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    height: 50px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #4229c0;
    text-decoration: none;
}

.hero {
    background: url('images/hero-bg.jpg') no-repeat center center/cover;
    color: #240e0e;
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

.btn {
    background-color: #e67e22;
    color: #140808;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #2c3e50;
    color: #f0dbdb;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}